<!DOCTYPE html>
<html>
    <head>
      <% include partials/bootstrap.ejs %> 
    </head>
    <style>
        #communityHeaderOfMobile
        {
            width: 100%;
            text-align: center;
            height: 80px;
            background-image: linear-gradient(to bottom, #4ba2b7, #42a6be, #38aac6, #29adcd, #0fb1d5);

        }
        /* #askbtndiv
        {
            display : none;
        } */
        /* #btnToJoin
        {
            color: #fff;
            background: transparent;
            border-color: #fff;
        } */
        #headerCommImage1
        {
            height: 90px;
            width: 90px;
            position: relative;
            margin-top: 25px;
            margin-left: 0px;
            box-shadow: 0 0 10px rgba(0,0,0,0.6);
        }

        #mobileCq
        {
            font-size: 15px;
            width: 80%;
            margin: 0;
            overflow: auto;
            height: auto;
            font-weight: bold;
            display: block;
            color: #fff;
            text-transform: capitalize;
        }
        #communityHeaderOfLap
        {
            padding-top: 70px;
        }
        #lapDiv1
        {
            display:none;
        }
        #lapDiv2
        {
            display:none;
        }
        /***********SETTTINGS **********/
        #nonlink
        {
            width: 80%;
        color: #6F6E6E;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        padding: 4px;
        margin-top: 2px;
        text-decoration: none;
        }
        #editCommLink
        {
            display:none;
        }



        .dropdown-content {
             display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

         }

        .dropdown-content a:hover {background-color: #ddd}
        .show {display:block;}

        @media (min-width:768px)
        {
            #communityHeaderOfMobile
            {
                height: 50px;
                width: 100%;
                background-image: linear-gradient(to bottom, #4ba2b7, #42a6be, #38aac6, #29adcd, #0fb1d5);

            }
            #communityHeaderOfLap
            {
                padding-top: 0px;
            }
            /* #askbtndiv
            {
                display : block !important;
            } */
            #headerCommImage1
            {
                display:none;
            }
            #headerCommImage2
            {
                background: rgb(255, 255, 255) !important;
                height: 100px;
                width: 100px;
                z-index: 2;
                position: absolute;
                margin-top: -40px;
                border: 4px solid #fff;
                box-shadow: 0 0 10px rgba(0,0,0,0.6);
            }
            #mobileCq
            {
                display:none;
            }
            #lapDiv1
            {
                display:block;
            }
            #lapDiv2
            {
                display:block;
                margin-left:-25px;
            }
            #lapDiv2
            {
                z-index: 1;
                height: 60px;
                margin-top: 15px;
                font-size: 20px;
                font-family: 'Open Sans', sans-serif;
                text-transform: capitalize;
                font-weight: bold;
            }
            #editCommLink
            {
                display:block;
            }
            #editCommpanel
            {
                display:none;
            }

        }
    </style>
    <body>
        <% include partials/header.ejs %>
            <div id="viewscreen">
                <% include partials/sidebar.ejs %>
                    <div id="rightview">
                        <div class="container-fluid" style="min-width:368px;padding:0;">
                            <div class="row">
                                <div class="col-lg-12" >
                                    <div id="communityHeaderOfMobile" style="padding-top:6px;position:relative;">
                                         <!-- <div class="container" id="askbtndiv">
                                            <button class="btn btn-info" id="btnToJoin" style="float:right;border-radius:0">
                                                <i class="fa fa-ask"></i>
                                                <% if (objcomm.commrule == "d" ) { %>
                                                    JOIN+
                                                <% }else{ %>
                                                    ASK TO JOIN
                                                    <%}%>
                                            </button>
                                        </div> -->
                                        <center>
                                            <div id="mobileCq" style="max-height:40px;">
                                                <a style="color:white;font-size: 15px;font-weight: bold;"><%= objcomm.commname %></a>
                                            </div>
                                        </center>
                                        <center>
                                            <a>
                                                <img src="/defaultcomm.png" id="headerCommImage1" >
                                            </a>
                                        </center>
                                    </div>

                                    <div  class="container" id="communityHeaderOfLap">
                                        <div class="col-sm-2 col-xs-12"  id="lapDiv1">
                                            <a><img src="/defaultcomm.png" id="headerCommImage2"></a>
                                        </div>
                                        <div class="col-sm-8" id="lapDiv2">
                                            <a><%= objcomm.commname %></a>
                                        </div>
                                        <div class="col-sm-2 col-xs-12" style="padding-top:10px;float:right;">
                                            <div class="dropdown">
                                                <button class="btn btn-default dropbtn" onclick = "toOpenListFunc()">
                                                    <i class="fa fa-bars"></i>
                                                </button>
                                                 <div id="myDropdown" class="dropdown-content" style="margin-top:40px;">

                                                    <% include partials/communitydropdown.ejs %>
                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <center>
                                        <hr style="border-top: 2px solid #E6E6E6; width: 85%;margin-top: 0;">
                                    </center>

                                    <!-- MAIN CONTENT OF PAGE BEGINS -->
                                    <div class="container">
                                        <p id="getCommId" style="display:none"><%= objcomm._id %></p>
                                        <p id="getCommRule" style="display:none"><%= objcomm.commrule %></p>
                                        <p id="getUserId" style="display: none;"><%= obj._id %></p>
                                        <div class="col-sm-3 col-xs-12">
                                            <div class="panel panel-default" style="border-radius:0;box-shadow: 0 3px 10px 0 rgba(115,143,147,.3)">
                                                <div class="panel-body" style="border:0;border-radius:0">
                                                    <div class="col-sm-12 col-xs-12 center-all">
                                                        <center>
                                                        <!-- <button class="btn btn-primary">
                                                            <% console.log("====="+objcomm.commrule)%>
                                                            <% if (objcomm.commrule == "d" ) { %>
                                                                JOIN+
                                                            <% }else{ %>
                                                                ASK TO JOIN
                                                                <%}%>
                                                        </button> -->
                                                        <div id="usercommRelation">

                                                        </div>
                                                        </center>
                                                    </div>
                                                </div>
                                                <div class="panel-footer">
                                                    <p class="center-all" style="margin:0;" id="noOfmemebers">
                                                       <%= objcomm.commjoin.length %>
                                                    <p>
                                                </div>
                                            </div>
                                            <div class="panel panel-default" style="border-radius:0;box-shadow: 0 3px 10px 0 rgba(115,143,147,.3)">
                                                <div class="panel-heading" style="border:0;border-radius:0">
                                                    Community Managers
                                                </div>
                                                <div class="panel-body" style="border:0;border-radius:0">
                                                    <div id="communityOwnerdetails">
                                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xs-4 center-all">
                                                                <a><img src="/default.png" style="width:50px;height:50px;border-radius:50%;"></a>
                                                            </div>
                                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xs-8" style="paddding:0;">
                                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style="paddding:0;">
                                                                    <span class="label label-success" style="margin-top:10px;">OWNER</span>
                                                                </div>
                                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style="paddding:0;">
                                                                    <a id="commOwnerName"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-8 col-xs-12" style="padding:0 10px 10px 10px;">
                                            <div class="panel panel-default" style="border-radius:0;box-shadow: 0 3px 10px 0 rgba(115,143,147,.3)">
                                                <div class="panel-heading center-all" style="border:0;border-radius:0">
                                                    About Community
                                                </div>
                                                <div class="panel-body" style="border:0;border-radius:0;">
                                                    <p id="communityDescriptionPara">
                                                        <%= objcomm.commdesc %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </body>
    <script src="/openpanel.js">
    </script>
    <script>
                function toOpenListFunc() {
                document.getElementById("myDropdown").classList.toggle("show");
                }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
    </script>
    <script>
            var adminsidebar = document.getElementById('admin_as_admin')
            adminsidebar.setAttribute("style","display:none");
            var usersidebar = document.getElementById('admin_as_user')
            usersidebar.setAttribute("style","display:block")
            //*****************************************************************
    </script>
    <script>

        getCommunityDetails();
        function getCommunityDetails()
        {
            var getid = document.getElementById("getCommId").innerHTML;
            var ob  = new Object();
            ob.id = getid;
            var userid = document.getElementById("getUserId").innerHTML;
            var request = new XMLHttpRequest();
            var filename = '/getcommdetails';
            request.open('POST',filename);
            request.setRequestHeader("content-Type","application/JSON");
            request.send(JSON.stringify(ob));
            request.onload = function()
            {
                var obj = JSON.parse(request.responseText);
                console.log("AFTERRRRRRRRRRRRRRRRRRRRRRRr")
                // console.log(obj);

                //BY default Page will Have ownername
                $("#commOwnerName").html(obj.ownerid.name)
                if(obj.ownerid._id == userid)
                {
                    // means that community owner is in session
                    console.log('iuioj;bnmmiiiiiiiiiiiii')
                    let divblock = '<a> View Users </a>'
                    $("#usercommRelation").append(divblock);
                }
                else 
                {
                    let k1 = 0;
                    let k2=0;
                    for(let i =0;i<obj.commjoin.length;i++)
                    {
                        if(userid == obj.commjoin[i]._id)
                        {
                            // means joined member has opened the community
                            let divblock = '<a> View Users </a>&nbsp&nbsp<a>Leave community</a>'
                            $("#usercommRelation").append(divblock);
                           k1=1;
                           break;
                        }
                    }
                    for(let i =0;i<obj.commasktojoin.length;i++ )
                    {
                        if(userid == obj.commasktojoin[i]._id)
                        {
                            // means user has requested the community to join
                            let divblock = '<div>REQUESTED</div>'
                            $("#usercommRelation").append(divblock);
                            k2=1;
                            break;
                        }
                    }
                    if(k1==0 && k2==0)
                    {
                        var rule = document.getElementById("getCommRule")
                        if(rule=="d")
                        {
                          let divblock = '<div class="col-sm-12 col-xs-12"><center><button class="btn btn-primary"> Join</button></center></div>'
                          $("#usercommRelation").append(divblock);
                        }
                        else if(rule=="p")
                        {
                            let divblock = '<div class="col-sm-12 col-xs-12"><center><button class="btn btn-primary">Ask To Join</button></center></div>'
                          $("#usercommRelation").append(divblock);
                        }
                    }
                }
                
               
            }

        }

    </script>

</html>
